/* media content configuration */
@media (min-width: 816px){
    .mosaic-container {
        grid-template-columns: repeat(3, 1fr);
    }

    .img-cell-1 > img {
        object-position: 0% 0%;
    }

    .img-cell-4 {
        grid-area: 2 / 1 / 3 / -1;
    }

    .img-cell-4 > img {
        object-position: 0% 20%;
    }
}
