/* media content configuration */
@media (min-width: 816px){
    .mosaic-container {
        grid-template-columns: 2fr repeat(2, 1fr);
    }

    .img-cell-1 {
        grid-area: 1 / 1 / 3 / 2;
        min-height: 100%;
    }
    
    .img-cell-2 {
        grid-area: 1 / 2 / 2 / -1;
        max-height: 480px;
    }
    
    .img-cell-3 {
        grid-area: 2 / 2 / 3 / -1;
        max-height: 480px;
    }
}
