/* media content configuration */
.content-wrapper {
    max-width: 1080px;
}

.mosaic-container {
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 240px;
}

.img {
    width: auto;
    height: auto;
}

.img-cell-1 {
    grid-area: 1 / 3 / 4 / 4;
}

.img-cell-5 {
    grid-row: span 2;
}

.img-cell-6 {
    grid-column: span 2;
    grid-row: span 2;
}

.img-cell-9 img {
    object-position: 0% 65%;
}

.img-cell-10 {
    grid-column: span 3;
    padding-bottom: 3rem;
}

.img-cell-10 img {
    object-fit: contain;
}

.img-cell-14 {
    grid-column: span 3;
    grid-row: span 2;
    padding-bottom: 3rem;
}

.img-cell-14 img {
    object-fit: contain;
}

.img-cell-15 {
    grid-column: span 3;
    grid-row: span 2;
}

/* XX-Large devices (larger desktops, 1400px and below) */
@media (max-width: 1400px){}

/* X-Large devices (large desktops, 1200px and below) */
@media (max-width: 1200px){}

/* Large devices (desktops, 992px and below) */
@media (max-width: 992px){
    .mosaic-container {
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 240px;
    }

    .img {
        grid-area: auto;
        max-height: 240px;
    }

    .img-cell-15 {
        grid-column: span 2;
        grid-row: span 2;
        max-height: 100%;
    }
}

/* Medium devices (tablets, 768px and below) */
@media (max-width: 768px){
    .img-cell-10 {
        padding-bottom: 0;
    }

    .img {
        height: 480px;
    }
}

/* Small devices (landscape phones, 576px and below) */
@media (max-width: 576px){
    .img {
        height: 360px;
    }
}
