/* media content configuration */
@media (min-width: 816px){
    .mosaic-container {
        grid-template-columns: repeat(3, 1fr);
    }

    .img-cell-1 > img {
        object-position: 75% 0%;
    }
    
    .img-cell-2 > img {
        object-position: 25% 0%;
    }
}
