/* media content configuration */
@media (min-width: 816px){
    .mosaic-container {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 550px){
    .carousel-container {
        min-height: 360px;
    }
}
