.content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 128px;
}

/* media content configuration */
.selection-grid:not(.invisible) {
    display: grid;
    max-width: 1080px;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px 12px;
}

.title-header-h2 {
    min-width: max-content;
    backdrop-filter: blur(4px);
}

.title-header-h3 {
    backdrop-filter: blur(4px);
}

.content-wrapper .title-header-h2,
.content-wrapper .title-header-h3 {
    border-radius: 0;
}

.update-info {
    padding: 4px 0 4px 24px;
    background-color: var(--background-white-alpha-10);
    font-size: calc(var(--font-size-content)*var(--font-size-multiplier-xxxs));
    font-style: italic;
}

.update-info > p {
    color: var(--color-white-alpha-75);
}

.legend-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-inline: var(--padding-around-general);
    gap: 12px;
    list-style: none;
}

.legend-container li {
    min-width: max-content;
    padding: var(--padding-general-small);
    border-radius: var(--border-general);
    font-size: calc(var(--font-size-content)*var(--font-size-multiplier-xs));
    font-weight: var(--font-weight-bold);
    text-align: center;
    opacity: .75;
}

.legend-container li:nth-child(n)::before {
    width: clamp(220px, 90vw, 696px);
    height: fit-content;
    position: fixed;
    left: 50%;
    bottom: 2.5dvh;
    translate: -50%;
    border-radius: var(--border-big);
    padding: var(--padding-around-general);
    background-color: var(--color-black);
    opacity: 0;
    visibility: hidden;
    z-index: 2;

    transition:
        opacity 300ms ease;
}

.legend-container li:nth-child(n):hover,
.legend-container li:nth-child(n):focus {
    opacity: 1;
}

.legend-container li:nth-child(n):hover::before,
.legend-container li:nth-child(n):focus::before {
    opacity: 1;
    visibility: visible;
    cursor: none;
    box-shadow: 0px 4px 12px .5px var(--color-black);
}

.legend-container li:nth-child(1) {
    color: var(--color-red);
    border: 1.5px dashed var(--background-red-alpha-75);
    background-color: var(--background-red-alpha-25);
}

.legend-container li:nth-child(1)::before {
    content: attr(data-details);
}

.legend-container li:nth-child(2) {
    color: var(--color-yellow);
    border: 1.5px dashed var(--background-yellow-alpha-75);
    background-color: var(--background-yellow-alpha-25);
}

.legend-container li:nth-child(2)::before {
    content: attr(data-details);
}

.legend-container li:nth-child(3) {
    color: var(--color-orange);
    border: 1.5px dashed var(--background-orange-alpha-75);
    background-color: var(--background-orange-alpha-25);
}

.legend-container li:nth-child(3)::before {
    content: attr(data-details);
}

.legend-container li:nth-child(4) {
    color: var(--color-white);
    border: 1.5px dashed var(--background-white-alpha-75);
    background-color: var(--background-white-alpha-25);
}

.legend-container li:nth-child(4)::before {
    content: attr(data-details);
}

.item,
.opener-item {
    border: 4px solid var(--color-white-alpha-10);
    border-radius: var(--border-item);
    padding: var(--padding-general-normal);
    align-content: center;

    background-color: var(--color-white-alpha-75);
    background-clip: padding-box;
    overflow: hidden;

    font-size: calc(var(--font-size-content)*var(--font-size-multiplier-xs));
    font-weight: var(--font-weight-bold);
    text-align: center;
    line-height: var(--font-line-ui);
    color: var(--color-black);

    transition:
        transform 100ms ease;
}

.item:active,
.opener-item:active {
    translate: 1px 1px;
}

.item:not(.pending):hover,
.item:not(.pending):focus,
.opener-item:not(.pending):hover,
.opener-item:not(.pending):focus  {
    background-color: var(--color-white);
    transform:
        scale(.98);
}

.item:is(.partial):hover,
.item:is(.partial):focus,
.opener-item:is(.partial):hover,
.opener-item:is(.partial):focus {
    background-color: var(--color-yellow);
}

.item:is(.outdated):hover,
.item:is(.outdated):focus,
.opener-item:is(.outdated):hover,
.opener-item:is(.outdated):focus {
    background-color: var(--color-orange-alpha-50);
}

.item:is(.pending):hover,
.item:is(.pending):focus,
.opener-item:is(.pending):hover,
.opener-item:is(.pending):focus {
    background-color: var(--color-red);
}

.item:not(.pending)::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 0%;
    transform:
        translateY(-50%);
    width: 8ch;
    height: 100%;

    background-color: var(--color-white);
    mask-image: var(--mask-fade);
    
    opacity: 0;
    pointer-events: none;
    transition:
        opacity .3s ease;
}

.item:not(.pending, .outdated):hover::after,
.item:not(.pending, .outdated):focus::after {
    opacity: 1;
}

/* struggling to centralize */
.item:not(.pending)::before {
    content: "›";
    position: absolute;
    top: 50%;
    right: -.5%;
    transform:
        translateY(-65%);

    font-size: calc(var(--font-size-icon)*var(--font-size-multiplier-md));
    color: var(--color-black);

    opacity: 0;
    pointer-events: none;
    transition:
        opacity .3s ease;
}

.item:not(.pending):hover::before,
.item:not(.pending):focus::before {
    opacity: 1;
    z-index: 1;
}

/* sections configuration */
.section {
    min-width: min-content;
    max-width: 1080px;
    border-radius: var(--border-general);
    overflow: hidden;
    background-blend-mode: saturation;
    background-color: var(--color-black-alpha-75);
    background-size: cover;
}

.section:not(.section-legend):hover,
.section:not(.section-legend):focus,
.additional-group:hover,
.additional-group:focus {
    background-color: var(--color-black-alpha-50);
}

.column {
    display: grid;
    grid-template-columns: 100%;
    gap: 12px;
    padding: var(--padding-around-general);
}

.section-legend {
    grid-area: 1 / 1 / 2 / -1;
}

.section-substation {
    grid-column: span 3;
    grid-row: span 2;
    background-image: url("../assets/img/banner/se-view-1.jpg");

    transition:
        background-color 500ms ease;
}

.section-substation .column-1 {
    grid-template-columns: repeat(2, 1fr);
}

.section-transmission {
    grid-row: span 1;
    background-image: url("../assets/img/banner/lt-view-1.jpg");

    transition:
        background-color 500ms ease;
}

.section-distribution {
    grid-row: span 1;
    background-image: url("../assets/img/banner/ld-view-1.jpg");

    transition:
        background-color 500ms ease;
}

/* needs to update background image */
.section-events {
    grid-column: span 4;
    background-image: url("../assets/img/banner/placeholder.jpg");
    background-position: center 75%;

    transition:
        background-color 500ms ease;
}

.section-administration {
    grid-column: span 4;
    background-image: url("../assets/img/banner/lt-view-2.jpg");
    background-position: center 75%;

    transition:
        background-color 500ms ease;
}

.section-administration .column-4 {
    grid-template-columns: repeat(3, 1fr);
}

.section-documents {
    grid-column: span 4;
    background-image: url("../assets/img/banner/documents.png");
    background-position: 0% 30%;

    transition:
        background-color 500ms ease;
}

.section-obstacles {
    background-image: url("../assets/img/banner/se-view-3.jpg");
    background-position: 0% center;

    transition:
        background-color 500ms ease;
}

.section-playable {
    grid-column: span 2;
    background-image: url("../assets/img/banner/ld-view-2.jpg");

    transition:
        background-color 500ms ease;
}

.section-miscellaneous {
    background-image: url("../assets/img/banner/panel-1.jpg");

    transition:
        background-color 500ms ease;
}

.additional-group {
    --peek: 12px;

    display: flex;
    max-width: 1080px;
    flex-direction: column;
    border-radius: var(--border-general);

    background-image: url("../assets/img/banner/se-view-2.jpg");
    background-position: center center;
    background-blend-mode: saturation;
    background-color: var(--color-black-alpha-75);
    background-size: cover;
    overflow: hidden;

    transition:
        background-color 500ms ease;
}

.group-wrapper {
    display: grid;
    grid-template: repeat(2, minmax(120px, 240px)) / 1fr 1.75fr;
    gap: 12px;
    padding: var(--padding-around-general);
    overflow: hidden;
}

.group-wrapper > div {
    border-radius: var(--border-general);
    overflow: hidden;
}

.group-wrapper > div > div {
    overflow: auto;
    scrollbar-width: thin;
}

.reunion-container,
.letter-container,
.rdc-container {
    display: flex;
    flex-direction: column;
    background-color: var(--background-white-alpha-10);
}

.collection {
    width: 100%;
    gap: var(--peek);
    padding: var(--peek);
    align-items: center;
}

.collection > span.year-tag {
    border-radius: var(--border-smaller);
    padding: var(--padding-general-small);
    background-color: var(--background-green-alpha-10);
    font-weight: var(--font-weight-bold);
    color: var(--color-green-alpha-75);
}

.collection a {
    width: 100%;
    padding: var(--padding-general-small);
    border-radius: var(--border-smaller);
    font-size: calc(var(--font-size-content)*var(--font-size-multiplier-xxs));
    line-height: var(--font-line-general);
    text-decoration: none;
}

.collection a:not(.disabled) {
    width: 100%;
    background-color: var(--background-white);
    font-weight: var(--font-weight-bolder);
    color: var(--color-black);
    opacity: .75;

    transition:
        opacity 300ms ease;
}

.collection a:hover {
    opacity: 1;
}

.reunion-collection {
    display: flex;
    scroll-snap-type: inline proximity;
    scroll-padding: var(--peek);
}

.reunion-collection a {
    min-width: max-content;
    max-width: min-content;
    min-height: fit-content;
    scroll-snap-align: start;
}

.letter-collection,
.rdc-collection {
    display: flex;
    flex-direction: column;
    scroll-snap-type: block proximity;
    scroll-padding: var(--peek);
}

.letter-collection a,
.rdc-collection a {
    min-height: calc(2em*var(--font-line-general) + 8px);
    max-height: calc(2em*var(--font-line-general) + 8px);
    scroll-snap-align: start;
    scroll-padding: var(--peek);
    overflow: hidden;
}

.letter-collection a:not(.disabled)::after,
.rdc-collection a:not(.disabled)::after {
    content: "";
    width: 25ch;
    height: calc(1em*var(--font-line-general) + 4px);
    position: absolute;
    right: 0;
    top: calc(1em*var(--font-line-general) + 4px);
    background-color: var(--background-white);
    mask-image: var(--mask-fade);
    font-weight: var(--font-weight-bolder);
    color: var(--color-black);
}

.reunion-container {
    grid-area: 1 / 1 / -1 / 2;
}

.letter-container {
    grid-area: 1 / 2 / 2 / 3;
}

.rdc-container {
    grid-area: 2 / 2 / 3 / 3;
}

/* postscriptum */
.postscriptum-container {
    grid-column: span 4;
}

.postscriptum-wrapper {
    margin: 0;
}

/* status */
.partial {
    background-color: var(--color-yellow-alpha-75);
    border: 4px solid var(--color-yellow-alpha-25);
}

.outdated {
    background-color: var(--color-orange-alpha-25);
    border: 4px solid var(--color-orange-alpha-10);
    color: var(--color-orange);
}

.pending {
    background-color: var(--color-red-alpha-25);
    border: 4px solid var(--color-red-alpha-10);
    color: var(--color-red-alpha-75);
    pointer-events: none;
}

/* media configuration */
/* XX-Large devices (larger desktops, 1400px and below) */
@media (max-width: 1400px) {}

/* X-Large devices (large desktops, 1200px and below) */
@media (max-width: 1200px){}

/* Large devices (desktops, 992px and below) */
@media (max-width: 992px){
    .selection-grid:not(.invisible) {
        display: flex;
        width: 100%;
        flex-direction: column;
    }

    .legend-container li {
        font-size: calc(var(--font-size-content)*var(--font-size-multiplier-xs));
    }

    .legend-container li:nth-child(1n):hover::before,
    .legend-container li:nth-child(1n):focus::before {
        font-size: calc(var(--font-size-content)*var(--font-size-multiplier-xs));
    }

    .item,
    .opener-item {
        font-size: calc(var(--font-size-content)*var(--font-size-multiplier-xs));
    }
}

/* Medium devices (tablets, 768px and below) */
@media (max-width: 768px) {
    .group-wrapper {
        grid-template-columns: 1fr;
    }

    .group-wrapper > div {
        grid-area: auto;
    }

    .group-wrapper .reunion-container {
        order: 1;
    }

    .legend-container li {
        font-size: calc(var(--font-size-content)*var(--font-size-multiplier-xxs));
    }

    .legend-container li:nth-child(1n):hover::before,
    .legend-container li:nth-child(1n):focus::before {
        font-size: calc(var(--font-size-content)*var(--font-size-multiplier-xxs));
    }

    .item,
    .opener-item {
        font-size: calc(var(--font-size-content)*var(--font-size-multiplier-xxs));
    }
}

/* Small devices (landscape phones, 576px and below) */
@media (max-width: 576px){
    .section {
        width: 100%;
        min-width: auto;
        height: auto;
        grid-template-columns: 1fr;
    }

    .column {
        display: flex;
        flex-direction: column;
    }

    .item,
    .opener-item {
        font-size: calc(var(--font-size-content)*var(--font-size-multiplier-xxs));
    }
}

/* Small devices (landscape phones, 576px and below) */
@media (max-width: 576px) {
    .legend-container {
        flex-direction: column;
    }

    .legend-container li:nth-child(1n)::before {
        text-align: left;
    }
}
