/* media content configuration */
.content-wrapper {
  max-width: 1080px;
}

.img-cell-1,
.img-cell-2 {
  grid-area: 1 / 1 / 3 / -1;
  height: calc(clamp(480px, 640px, 720px) + 48px);
}

.img-cell-1 > img,
.img-cell-2 > img,
.img-cell-3 > img,
.img-cell-4 > img {
  object-fit: contain;
  object-position: center 0%;
}

.img-cell-3,
.img-cell-4 {
  grid-column: span 2;
  height: auto;
}

.img-cell-1 > p {
  color: var(--color-red);
  background-color: var(--background-dark-red-alpha-75);
}

.img-cell-2 > p {
  color: var(--color-green);
  background-color: var(--background-dark-green-alpha-75);
}

/* Medium devices (tablets, 992px and below) */
@media (max-width: 992px) {
  .img {
    height: auto;
  }
  .postscriptum-container {
    display: none;
  }
  .img-cell-1,
  .img-cell-2 {
    grid-area: auto;
    grid-column: span 2;
  }
  .obs-1,
  .obs-2 {
    display: none;
  }
}
