/* media content configuration */
.content-wrapper {
  max-width: 1080px;
}

.mosaic-container {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
}

.img-cell-1,
.img-cell-2 {
  grid-column: span 2;
}

.img-cell-3 {
  grid-column: span 4;
  height: auto;
}

.img-cell-3 > img {
  object-fit: cover;
}

/* Medium devices (tablets, 992px and below) */
@media (max-width: 992px) {
  .content-wrapper {
    max-width: 720px;
  }
  .mosaic-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .img-cell-3 {
    grid-column: span 2;
    height: auto;
  }
}
